<div class="container" style=" margin-left: 100px;margin-top:20px;">
    <h3 style="border-left: 6px solid black ; padding-left: 10px;">About</h3>
    <p>Organ donation is giving an organ to someone else who needs a transplant. 
        This donation will greatly enhance or save the life of the person who receives the transplanted organ.
        You can help us save thousands of lives in Palestine every year 
        by signing up to become an organ donor and telling your family you want to donate.</p>
    
    <h3 style="border-left: 6px solid black ; padding-left: 10px;">What i can donate ?</h3>
    <p>There are many members that can be donated before death and the other after death, 
        from members that can be donated before death one of the kidneys, part of the liver,
        and part of the spinal cord after death the Member can donate her heart, pancreas, cornea, the tissue.</p>
    
    
    
</div>