<div class="row" style="margin-top: 20px">
    
<div class="col-lg-1"></div>
<div class="col-lg-11">
<h3 style="border-left: 5px solid #e52f2d; padding-left: 10px;">Service center Dashboard</h3>    
<h5 style="margin-left:50px;">Welcome Dr.Ahmad Adnan</h5>
</div>
</div>
<div class="row mainCols" >
    
<div class="col-lg-1 hidden-xs hidden-sm" ></div>  
    
<div class="col-xl-2 col-lg-2 col-md-5 col-sm-5  col-xs-5 col1" >
    <button class="serviceButtons" >Labs</button>
</div>    
<div class="col-xl-2 col-lg-2 col-md-5 col-sm-5  col-xs-5  col2">
    <button class="serviceButtons" >Doctors</button>
</div>    
<div class="col-xl-2 col-lg-2 col-md-5 col-sm-5  col-xs-5  col3">
    <button class="serviceButtons" ><i class="fa fa-tablets"></i>Clinics</button>
</div>    
<div class="col-xl-2 col-lg-2 col-md-5 col-sm-5  col-xs-5  col4">
    <button class="serviceButtons" >Customers</button>
</div>    
<div class="col-lg-1 hidden-xs hidden-sm"></div>    
</div>

